[Desktop Entry]
Name=Podman Desktop
Exec=flatpak run --socket=wayland --env=XDG_SESSION_TYPE=wayland io.podman_desktop.PodmanDesktop --ozone-platform=wayland
Terminal=false
Type=Application
Icon=io.podman_desktop.PodmanDesktop
StartupWMClass=Podman Desktop
Categories=Development;
Keywords=container;pod;image;volume;kubernetes;docker;kind;kubectl;
X-Flatpak=io.podman_desktop.PodmanDesktop
